<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applications</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>Applications</h1>
        <div id="applicationList">
            <form>
                <label for="applicationDropdown">Select application:</label>
                <select id="applicationDropdown" name="applicationDropdown">
                  <!-- Options will be dynamically added here -->
                </select>
              </form>
        </div>
        <button type="button" id="addNewApplication">Add Application</button>
    </main>
    <script type="text/javascript" src="/scripts/applications.js"></script>
</body>
</html>