<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Companies</title>
</head>
<body>
    <header>

    </header>
    <main>
        <h1>Companies</h1>
        <div id="companyList">
            <form>
                <label for="companyDropdown">Select Company:</label>
                <select id="companyDropdown" name="company">
                  <!-- Options will be dynamically added here -->
                </select>
              </form>
        </div>
        <button type="button" id="addNewCompany">Add Company</button>
    </main>
    <script type="text/javascript" src="/scripts/companies.js"></script>
</body>
</html>