<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adding a Company</title>
</head>
<body>
    <header>
        <nav>

        </nav>
    </header>
    <main>
        <div id="add-new-company">
            <h1>Add a Company</h1>
            <form id="addCompanyForm" action="/company" method="POST">
                <div class="form-control">
                    <label for="companyName">Company Name:</label>
                    <input type="text" id="companyName" name="companyName" required>
                </div>
                <div class="form-control">
                    <label for="companyURL">Company URL:</label>
                    <input type="text" id="companyURL" name="companyURL" required>
                </div>
                <div class="form-control">
                    <label for="isStartup">Is it a startup?</label>
                    <input type="radio" id="isStartup" name="isStartup">
                </div>
                <div class="form-control">
                    <label for="businessOverview">Business Overview:</label>
                    <textarea id="businessOverview" name="businessOverview" rows="5" cols="140"></textarea>
                </div>
                <button class="btn" type="submit" id="saveNewCompany">SAVE</button>
            </form>
            <div id="saveFeedback"></div>

        </div>
    </main>
    <script type="text/javascript" src="/scripts/addnewcompany.js"></script>
</body>
</html>