.header {
    max-width: 60rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-family: 'Calibri', sans-serif;
    font-size: 20px;
  }
  
  .list {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  .list a {
    text-decoration: none;
    font-weight: 700;
    color: white;
    margin-right: 30px;
  }
  
  .list a:hover,
  .list a.active {
    color: var(--color-primary-800);
  }

  .logoutbtn {
    background-color: teal;
    border: none;
    cursor: pointer;
    color: white;
    font-family: 'Calibri', sans-serif;
    font-weight: 700;
    font-size: 20px;
    } 

  .logoutbtn:hover {
    color: var(--color-primary-800);
  } 