.form {
  margin-right: 20px;
  }

.addnewform {
  border-radius: 8px;
  margin-top: 20px;
  font-family: 'Calibri', sans-serif;
}
  
  .form label,
  .form input,
  .form textarea,
  .form select {
    display: block;
    width: 100%;
    font-weight: 700;
    font-size: 20px;;
  }
  
  .form input,
  .form textarea,
  .form select {
    font: inherit;
    padding: 0.8rem;
    border: 1.5px solid rgb(219, 219, 219);
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
  }
  
 .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .btn {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    background-color: teal;
    color: white;
    border: 2px solid teal;
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .btn:hover {
    background-color: white;
    color: teal;
    border: 2px solid teal;
    border-radius: 4px;
  }
  
